In [1]:
word = "12345"

In [2]:
word[:]

'12345'

In [3]:
word[::-1]

'54321'

In [4]:
word[::2]

'135'

In [5]:
"13" in word

False

In [6]:
"12" in word

True

In [7]:
word = "Hello"

In [8]:
word[-1]

'o'

In [9]:
len(word)

5

In [10]:
word[len(word)-1]

'o'

In [11]:
word.upper()

'HELLO'

In [12]:
t = [1,2,3]
a,b,c = t

In [13]:
print(a, b, c_)

NameError: name 'c_' is not defined

In [14]:
print(a,b,c)

1 2 3

In [15]:
x,y = t

ValueError: too many values to unpack (expected 2)

In [1]:
day = input("날짜(연/월/일) 입력")
day_info = day.split("/")
day__info = list(map(int, day_info))
print(day__info)

print("입력한 날짜의 10년 후는 %d년 %s월 %s일" %((int)(day_info[0])+10, day_info[1], day_info[2]))

날짜(연/월/일) 입력2020/01/13
[2020, 1, 13]
입력한 날짜의 10년 후는 2030년 01월 13일

In [ ]:
eng = int(input("영어 점수 입력: "))
math = int(input("수학 점수 입력: "))
score = eng + math
if score >= 110 : 
    if eng < 40 :
        print("영어 점수 부족")
    elif math < 40 :
        print("수학 점수 부족")
    else :
        print("합격")
else :
    print("불합격: 총합 점수 부족")

In [10]:
numbers = input("세 개의 수를 입력하시오:")
#numbers = map(int, numbers.split())
a,b,c = map(int, numbers.split())

#print(a,b,c)
print("가장 큰 수는 %d입니다." %(max(a,b,c)))

세 개의 수를 입력하시오:30 22 50
가장 큰 수는 50입니다.

In [13]:
a = 1
result = 0
while a<=10 :
    result +=a
    a+=1
    
print("1부터 10까지의 합 : %d" %(result))

1부터 10까지의 합 : 55